<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>d8amatiks Ltd | Simplifying Data Privacy</title>
    <meta
      name="keywords"
      content="GDPR, Data Protection, Data Privacy, Data Compliance"
    />
    <meta
      name="description"
      content="GDPR Privacy Protection compliance services, Gap Analysis, GDPR Readiness Solution Toolkit, GDPR Explanations, GDPR Implementation Assist"
    />
    <link
      rel="stylesheet"
      href="https://www.d8amatiks.com/portal/assets/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://www.d8amatiks.com/portal/assets/css/simple-line-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://www.d8amatiks.com/portal/assets/css/glyphicons.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>
    <script src="https://use.typekit.net/gub7oeq.js"></script>
    <script>
      try {
        Typekit.load({ async: true });
      } catch (e) {}
    </script>
    <!--Start of _chatlio Script-->
    <script>
      window._chatlio = window._chatlio || [];
      !(function () {
        var t = document.getElementById("chatlio-widget-embed");
        if (t && window.ChatlioReact && _chatlio.init)
          return void _chatlio.init(t, ChatlioReact);
        for (
          var e = function (t) {
              return function () {
                _chatlio.push([t].concat(arguments));
              };
            },
            i = [
              "configure",
              "identify",
              "track",
              "show",
              "hide",
              "isShown",
              "isOnline",
              "page",
            ],
            a = 0;
          a < i.length;
          a++
        )
          _chatlio[i[a]] || (_chatlio[i[a]] = e(i[a]));
        var n = document.createElement("script"),
          c = document.getElementsByTagName("script")[0];
        (n.id = "chatlio-widget-embed"),
          (n.src = "https://w.chatlio.com/w.chatlio-widget.js"),
          (n.async = !0),
          n.setAttribute("data-embed-version", "2.3");
        n.setAttribute(
          "data-widget-id",
          "d206db7f-9372-4df7-5a0d-426e57c731c4"
        );
        c.parentNode.insertBefore(n, c);
      })();
    </script>
    <!--End of _chatlio Script-->
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <!--End of Tawk.to Script-->
    <!-- Preload link tags will be injected by webpack here -->

    <style>
      th {
        text-align: center !important;
        color: white !important;
        background: transparent !important;
        font-size: 15px !important;
        white-space: normal;
      }

      input {
        width: 65px;
        background: transparent;
      }

      td {
        background: transparent;
        min-width: 70px;
        white-space: normal;
        height: 11px;
      }

      tr:first-child th {
        border-top: none !important;
      }

      tr:last-child td {
        border-bottom: none !important;
      }

      tr th:first-child,
      td:first-child {
        border-left: none !important;
      }

      tr th:last-child,
      td:last-child {
        border-right: none !important;
      }

      .doc-div-wrapper {
        min-height: 200px;
        padding: 35px;
        background-color: #f3f3f3;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
      }

      body {
        margin: 0;
        font-family: "europa", "Montserrat", "europa", "Open Sans",
          "Helvetica Neue", Helvetica, sans-serif;
        font-size: 0.9rem;
        font-weight: normal;
        line-height: 1.5;
        color: #151b1e;
        background-color: #f3f3f3;
      }

      .ui-table-thead th {
        font-size: 8px !important;
      }

      .subtable table {
        margin: 20px;
        border: 1px solid #999999;
      }

      .subtable table {
        margin: 20px;
        border: 1px solid #999999;
      }

      .subtable .th {
        background: lightgrey;
      }

      .subtable .ui-table-thead > tr > th,
      .ui-table .ui-table-tbody > tr > td,
      .ui-table .ui-table-tfoot > tr > td {
        padding: 0.1em 0.1em;
      }


input {
    background: transparent;
    border: none !important;
}



.wtd {
    width: 441px;
}

.wtd1 {
    width: 600px;
}

.wtd1 input {
    border: none;
}

.wtd2 {
    width: 900px;
}

.wtd3 input{
  width: 90px !important;
  border: none;
}

span input {
    border: none;
    border-bottom: 1px solid black;
}

.spli {
    border-bottom: 1px solid black !important;
}

.ins {
    border: none;
    border-bottom: 1px solid black;
    width: 400px;
}

.wtd7 input{
    width: 100px !important;
    border: none;
}


.wtd8 {
    width: 160px !important;
}

.ind {
    border: none;
    border-bottom: 1px solid black;
}

.customTable {
    display: grid;
    grid-template-columns: auto auto;
    width: 400px;
    border: 1px solid black;
    padding: 0 !important;
  }
  
.innerLeftRows {
border-bottom: 1px solid black;
border-right: 1px solid black;
}

.innerRightRows {
border-bottom: 1px solid black;
}

.bottomLeftRow {
border-right: 1px solid black;
}
table, th, td {
  border: 1px solid black !important;
  border-collapse: collapse !important;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}  

.flex-child:first-child {
  margin-right: 20px;
}
    </style>
    <style>
    </style>
  </head>
  <body
    class="
      app
      header-fixed
      sidebar-fixed
      aside-menu-fixed aside-menu-hidden
      sidebar-minimized
    "
    data-gr-c-s-loaded="true"
    ng-version="5.1.3"
    cz-shortcut-listen="true"
    style="height: 100%"
  >
    <div class="app-body">
      <main class="main">
        <div class="container-fluid">
          <div class="doc-div-wrapper"><%- html %></div>
        </div>
      </main>
    </div>
  </body>
</html>
