<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>d8amatiks Ltd | Simplifying Data Privacy</title>
  <meta name="keywords" content="GDPR, Data Protection, Data Privacy, Data Compliance">
  <meta name="description" content="GDPR Privacy Protection compliance services, Gap Analysis, GDPR Readiness Solution Toolkit, GDPR Explanations, GDPR Implementation Assist">
  <link href="assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/simple-line-icons.css" rel="stylesheet">

  <!-- Premium icons -->
  <link href="assets/css/glyphicons.css" rel="stylesheet">
  <link href="assets/css/glyphicons-filetypes.css" rel="stylesheet">
  <link href="assets/css/glyphicons-social.css" rel="stylesheet">
  <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <script src="./assets/js/select2.full.min.js"></script>
  <script src="https://use.typekit.net/gub7oeq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <!--Start of _chatlio Script-->
  <script>
    console.log("3")
    window._chatlio = window._chatlio||[];
    !function(){ var t=document.getElementById("chatlio-widget-embed");if(t&&window.ChatlioReact&&_chatlio.init)return void _chatlio.init(t,ChatlioReact);for(var e=function(t){return function(){_chatlio.push([t].concat(arguments)) }},i=["configure","identify","track","show","hide","isShown","isOnline", "page"],a=0;a<i.length;a++)_chatlio[i[a]]||(_chatlio[i[a]]=e(i[a]));var n=document.createElement("script"),c=document.getElementsByTagName("script")[0];n.id="chatlio-widget-embed",n.src="https://w.chatlio.com/w.chatlio-widget.js",n.async=!0,n.setAttribute("data-embed-version","2.3");
      n.setAttribute("data-widget-id","d206db7f-9372-4df7-5a0d-426e57c731c4");
      c.parentNode.insertBefore(n,c);
    }();
  </script>
  <!--End of _chatlio Script-->
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <!--End of Tawk.to Script-->
  <!-- Preload link tags will be injected by webpack here -->

  <script src="./assets/js/d3.min.js"></script>
  <script src="./assets/js/nv.d3.min.js"></script>
  <script src="./assets/js/guage.js"></script>

  <style>
    .cont {
      margin-bottom: 50px;
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      border: 2px solid lightgrey;
      border-radius: 20px;
    }
    th {
      text-align: center !important;
      color: white !important;
      background: #27a9fd !important;
      font-size: 15px !important;
      text-transform: uppercase;
      border-bottom: 2px solid lightgrey !important;
      min-width: 200px;
      white-space: normal;
      padding: 10px;
    }
    td {
      background: white;
      min-width: 200px;
      white-space: normal;
      border: 1px solid lightgrey;
      padding: 10px;
    }
    tr:first-child th {
      border-top: none !important;
    }
    tr:last-child td {
      border-bottom: none !important;
    }
    tr th:first-child, td:first-child {
      border-left: none !important;
    }
    tr th:last-child, td:last-child {
      border-right: none !important;
    }
    .doc-div-wrapper {
      min-height: 200px;
      padding: 35px;
      background-color: #ffffff;
      border-radius: 20px;
    }
    body{
      margin: 0;
      font-family: "europa", "Montserrat", "europa", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 0.9rem;
      font-weight: normal;
      line-height: 1.5;
      color: #151b1e;
      background-color: #f3f3f3;
    }
    .ui-table-thead th{
        font-size: 8px !important;
    }
    .subtable table{
        margin: 20px;
        border: 1px solid #999999;
    }
    .subtable table{
        margin: 20px;
        border: 1px solid #999999;
    }
    .subtable .th{
        background: lightgrey;
    }
    .subtable .ui-table-thead>tr>th, .ui-table .ui-table-tbody>tr>td, .ui-table .ui-table-tfoot>tr>td{
        padding: 0.1em .1em;
    }
    /*Quill Styles*/
    .ql-indent-1 {
      margin-left: 3em;
    }
    .ql-indent-2 {
      margin-left: 6em;
    }
    .ql-indent-3 {
      margin-left: 9em;
    }
    .ql-indent-4 {
      margin-left: 12em;
    }
    .ql-indent-5 {
      margin-left: 15em;
    }
    .ql-indent-6 {
      margin-left: 18em;
    }
    .ql-indent-7 {
      margin-left: 21em;
    }
    .ql-indent-8 {
      margin-left: 24em;
    }
  </style>
</head>

<body>
 <div class="doc-div-wrapper">
     <%- html %>
 </div>
</body>
</html>